:root {
    --bc: #DC143C;
    --font: black;
    --main-bc: white;
  }
*{
    color: var(--font);
    font-family: FontAwesome;
    transition: 0.4s;
    margin: 0;
    padding: 0;
    font-size: 21px;
}
body{
  background-color: blueviolet;
  margin: 0;
}
.Cards{
  display: flex;
  width: 100%;
  height: 150mm;
  background-color: var(--main-bc);
  flex-wrap: wrap;
}
.Title{
  display: flex;
  font-size: 60px;
  width: 100%;
  height: 25mm;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.CardBox{
  width: 100%;
  height: 125mm;
  display: flex;
  flex-wrap: wrap;
}
.CardBox > *{
  margin: 10mm;
}
.Card{
  display: flex;
  background-color: whitesmoke;
  width: 64mm;
  height: 95mm;
  border-radius: 6mm;
  flex-wrap: wrap;
  align-content: baseline;
  -webkit-border-radius: 6mm;
  -moz-border-radius: 6mm;
  -ms-border-radius: 6mm;
  -o-border-radius: 6mm;
}
.Farmer{
  border: #505050 solid 5mm;
}
.Farm{
  border: #d0d0d0 solid 5mm;
}
.FriendsAndFoes{
  border: #808080 solid 5mm;
}
.Action{
  border: #202020 solid 5mm;
}

.Card > *{
  margin-inline: 5%;
}

.name{
  width: 90%;
  height: 15%;
  font-size: 40px;
  align-content: center;
  text-align: center;
}
.farmName{
  width: 90%;
  height: 10%;
  font-size: 28px;
  align-content: center;
  text-align: center;
}
.image{
  width: 90%;
  height: 50%;
}
.description{
  width: 90%;
  height: 20%;
  align-content:first baseline;
  text-align: center;
}
.farmDescription{
  position: relative;
  top: -1%;
  width: 90%;
  height: 5%;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 15px;
}
.specifications{
  width: 90%;
  height: 15%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.health, .farmerSecondaryType, .farmerType{
  width: 30%;
  height: 66%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.health{
  justify-content: center;
}
.farmerSecondaryType{
  flex-direction: row;
}
.nonFarmerSecondaryType{
  flex-direction: column;
}
.Coins{
  position: relative;
  margin-inline: auto;
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-block: -33%;
}
.heart, .farmerTypeImage, .farmerSecondaryTypeImage{
  aspect-ratio: 1 / 1;
  height: 100%;
}
.healthValue{
  position: relative;
  width: 0;
  height: 0;
  top: 20%;
  left: -35%;
}
.bronzeCoins{
  order: 3;
}
.bronze{
  position: relative;
  margin-inline: -4%;
  filter: invert(54%) sepia(76%) saturate(545%) hue-rotate(345deg) brightness(90%) contrast(75%);
  -webkit-filter: invert(54%) sepia(76%) saturate(545%) hue-rotate(345deg) brightness(90%) contrast(75%);
}
.silverCoins{
  order: 2;
}
.silver{
  position: relative;
  margin-inline: -4%;
  filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(278deg) brightness(92%) contrast(86%);
  -webkit-filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(278deg) brightness(92%) contrast(86%);
  order: 2;
}
.goldCoins{
  order: 1;
}
.gold{
  position: relative;
  margin-inline: -4%;
  filter: invert(81%) sepia(21%) saturate(3827%) hue-rotate(1deg) brightness(108%) contrast(104%);
}